@use "../core";
.runRule {
	overflow: hidden;
	height: 100vh;
	position: relative;
	> .close {
		position: absolute;
		top: 0.3em;
		right: 0.4em;
		> svg:first-child {
			position: absolute;
			fill: core.$second-color;
		}
		> svg:last-child {
			position: relative;
			fill: core.$fourth-color;
		}
		> svg {
			z-index: 1;
			cursor: pointer;
			font-size: 2.5em;
		}
	}
	> .rule {
		position: relative;
		width: 100vw;
		height: 100vh;
		display: flex;
		.container {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 1;
			height: calc(100% - 5em);
			overflow: auto;
			.header {
				text-align: center;
				min-height: 3.1em;
				padding: 1em 3em;
				border-bottom: 0.1em solid core.$border;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.content {
				overflow: auto;
				padding: 1em;
			}
			.blink {
				animation-duration: 500ms;
				animation-name: Blink;
			}
		}
		.menu {
			width: 100%;
			height: 5em;
			text-align: center;
			background-color: core.$third-color;
			border-top: 0.1em solid core.$border;
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
			svg {
				cursor: pointer;
				font-size: 2.5em;
				&:hover {
					opacity: 0.8;
				}
			}
			.disabled {
				opacity: 0.2;
				&:hover {
					opacity: 0.2;
				}
			}
		}
	}
}

@keyframes Blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
