@use "../../../../core";
.sheets {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	flex-wrap: wrap;
	background-color: core.$fourth-color;
	border: 0.1em solid core.$border;
	> div:last-child {
		width: 100%;
	}
	.navigation {
		text-align: center;
		margin-bottom: 1em;
	}
	.noData {
		padding: 2em;
		text-align: center;
	}
}
