@use "../core";
@import "../core";
.content {
	flex: 1 0;
	background: core.$third-color;
	border: 0.1em solid core.$border;
	border-radius: 0.3em;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	position: relative;
	.header {
		font-size: 2em;
		display: flex;
		align-items: center;
		flex: 0;
		justify-content: space-between;
		position: relative;
		margin: 0.5rem 1.5em;
		&:before {
			content: "";
			position: absolute;
			top: 43%;
			left: -2%;
			right: 0;
			height: 0.4em;
			background: core.$first-color;
			width: 98%;
		}
		> span {
			background: core.$third-color;
			position: relative;
			padding: 0 15px;
			margin-left: 15px;
		}
		> svg {
			color: core.$first-color;
			background-color: core.$third-color;
			position: relative;
		}
	}
	.menu {
		display: flex;
		justify-content: right;
		margin-right: 1.5em;
		> button {
			font-size: 1.8em;
			@include button1;
		}
	}
	> div:last-child {
		position: relative;
		flex: 1;
		margin-left: 1.5em;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}
	&.fullscreen {
		z-index: 80;
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
	}
}
@media screen and (max-width: 900px) {
	.content {
		width: 100%;
	}
}
@media screen and (min-width: 901px) {
	.content {
		overflow: auto;
		height: calc(100% - 1rem);
	}
}
