@use "../../core";
@import "../../core";
.textEditor {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	.toolbar {
		display: flex;
		flex-wrap: wrap;
		border: 0.1em solid core.$border;
		padding: 0.5em;
		display: flex;
		height: 3.5em;
		overflow: auto;
		margin-bottom: 1em;
		> button {
			@include button1;
		}
	}
	.editor {
		flex: 1;
		border: 0.1em solid core.$border;
		height: calc(70% - 5.5em);
		overflow: auto;
		padding: 1em;
		margin-bottom: 1em;
		img:focus {
			opacity: 0;
		}
	}
	.footer {
		text-align: right;
		button {
			margin-right: 0.5em;
		}
	}
}

@media screen and (max-width: 600px) {
	@import "./_resolution/mobile";
}
@media screen and (min-width: 601px) {
	@import "./_resolution/display";
}
