@use "../../../core";
.colorHandler {
	width: 16em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0.5em;
	> span {
		cursor: pointer;
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
	}
}
.imageHandler {
	padding: 1em;
}

.selectionWindow {
	position: absolute;
	z-index: 100;
	border: 0.1em solid core.$border;
	top: 4em;
	left: calc(50% - 8em);
	background: core.$fourth-color;
}
