@use "../../core";

.cover {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	img {
		width: 100%;
		height: 100%;
	}
	.scrolling {
		cursor: pointer;
		position: absolute;
		animation-duration: 500ms;
		animation-name: MoveUpDown;
		animation-iteration-count: infinite;
		svg {
			fill: core.$second-color;
			font-size: 4em;
			z-index: 3;
			&:last-child {
				fill: core.$fourth-color;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

.cover_exit {
	opacity: 1;
}
.cover_exit_active {
	margin-top: -100vh;
	opacity: 0;
	transition: opacity 1000ms, margin-top 500ms;
}

@keyframes MoveUpDown {
	0%,
	100% {
		bottom: 0;
	}
	50% {
		bottom: 1em;
	}
}
