@use "../core";
.header {
	width: calc(100% - 2rem);
	background: core.$third-color;
	border-bottom: 0.1em solid core.$border;
	border-left: 0.1em solid core.$border;
	border-right: 0.1em solid core.$border;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	margin: 0 1rem 1rem;
	.search + div {
		flex: 1;
		display: -webkit-flex;
		align-items: center;
		justify-content: end;
	}
	.user_menu {
		.profile,
		.login {
			text-align: center;
			color: core.$second-color;
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			svg {
				color: core.$second-color;
				font-size: 2.8em;
				&:hover {
					fill: core.$first-color;
				}
			}
			img {
				width: 2.8em;
				border-radius: 50%;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		a {
			color: core.$second-color;
		}
		.logout {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@media screen and (max-width: 900px) {
	.search {
		flex: 1;
		input {
			width: 100%;
		}
	}
}
@media screen and (min-width: 901px) {
	.header {
		.search {
			width: 50%;
			input {
				width: 70%;
				&:focus {
					width: 100%;
				}
			}
		}
	}
}
