@use "../../core";
.menu {
	width: 100%;
	height: 5em;
	text-align: center;
	background-color: core.$third-color;
	border-top: 0.1em solid core.$border;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	svg {
		cursor: pointer;
		font-size: 2.5em;
		&:hover {
			opacity: 0.8;
		}
	}
	.disabled {
		opacity: 0.2;
		&:hover {
			opacity: 0.2;
		}
	}
}
