.sheet {
	.text_editor {
		&:hover {
			&::after {
				content: "";
				background-color: core.$layer;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
			}
		}
	}
}
.sheet:first-child + .sheet {
	margin-right: 1em;
	margin-left: 1em;
}
