@use "../../../core";
@mixin chapter {
	display: flex;
	flex-direction: column;
	flex: 1;
	.header {
		text-align: center;
	}
	.container {
		flex: 1;
		margin-top: 2em;
	}
	> .navigation {
		text-align: center;
	}
	> .noData {
		margin-top: 1em;
		border: 0.1em solid core.$border;
		background-color: core.$fourth-color;
		padding: 2em;
		text-align: center;
	}
	.offset {
		& :first-child {
			margin-right: 0.5em;
		}
		text-align: center;
		margin-top: 0.5em;
	}
}
