@use "../core";

.breadcrumbs {
	width: calc(100% - 2rem);
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	margin: 0 1rem;
	padding: 0px;
	padding-bottom: 0.5rem;
	line-height: 0px;

	li {
		margin-bottom: 0.5rem;
		position: relative;
		padding: 0px;
		list-style: none;
		list-style-image: none;
		transition: color 0.3s ease;
		margin-right: 0.2em;

		&:hover {
			a {
				color: core.$fourth-color;
				background: core.$first-color;
			}
		}

		&:last-child {
			a {
				color: core.$fourth-color;
				background: core.$second-color;
			}
		}

		a {
			display: block;
			line-height: 3em;
			color: core.$second-color;
			padding: 0.2em 2em 0.2em 2em;
			text-decoration: none;
			background: core.$fourth-color;
			border: 0.1em solid core.$border;
			white-space: nowrap;
			overflow: hidden;
			transition: color 0.3s ease;
		}
	}
}
@media screen and (max-width: 900px) {
	@import "./_resolution/mobile";
}
@media screen and (min-width: 901px) {
	@import "./_resolution/display";
}
