@use "../core";
@import "./form.scss";

.login {
	@include login_form;
	background-image: url("../../img/login-background.jpg");
	.forgot_password {
		margin-right: 0.5em;
	}
	.login_btn,
	.registration {
		margin-bottom: 1em;
	}
	.registration,
	.forgot_password {
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		color: core.$first-color;
		&:hover {
			color: core.$first-color;
		}
	}
	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		.google {
			text-decoration: none;
			color: core.$placeholder;
			font-size: 1.2em;
			font-weight: 600;
			padding: 0.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			margin-bottom: 1rem;
			border: 0.1em solid core.$border;
			border-radius: 0.25em;
			width: 100%;
			background-color: core.$fourth-color;
			svg {
				margin-right: 0.5em;
			}
		}
		> div:hover {
			background-color: core.$third-color;
		}
	}
}
