@use "../../core";
.page404 {
	margin: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	&::before {
		height: 100%;
		color: core.$fourth-color;
		text-align: center;
		font-weight: 900;
		z-index: 1;
	}
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("../../../img/login-background.jpg");
	}
}
@media screen and (max-width: 900px) {
	.page404 {
		height: 100vh;
		&::before {
			content: "4\A 0\A 4";
			white-space: pre;
			font-size: 12em;
		}
	}
}
@media screen and (min-width: 901px) {
	.page404 {
		height: 100%;
		&::before {
			content: "404";
			font-size: 15em;
		}
	}
}
