@use "../../../core";
.settings {
	border: 0.1em solid core.$border;
	background-color: core.$fourth-color;
	padding: 2em 1em;
	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	button {
		margin-bottom: 1em;
	}
}
